.DescripCon{
    /* background-color: #FFFFFF;; */
    width: 100%;
    justify-content: center;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    background: linear-gradient(358.26deg, #F8F8FC 62.42%, rgba(248, 248, 252, 0) 98.75%);
    /* background-color: red; */
}
.DescripWrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
    width: 80%;
    /* padding-top: 3px; */
    
}
.DescripPic{                                              
    height: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: -90px;
    
}
@media screen and (max-width:1024px){
    .DescripPic{
        display: none;
    }
}
.DescripHold{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* background-color: aliceblue; */
    margin-top: 30px;
    padding-bottom: 70px;
}
@media screen and (max-width:1024px){
    .DescripHold{
        margin-top: 10px;
       
    }
}
.DescripLogo{
    /* height: 200px; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: bisque; */
    flex-wrap: wrap;
}
@media screen and (max-width:1024px){
    .DescripLogo{
         justify-content: space-around;        
    }
}
.DescripLogo > img{
    /* height: 20px;
    width: 100px; */
    /* object-fit: cover; */
    /* background-color: pink; */
    margin-top: 15px;
}
@media screen and (max-width:378px){
    .DescripLogo> img{
       width: 80px;    
        height: 20px;
    }
}
@media screen and (max-width:320px){
    .DescripLogo> img{
       width: 70px;    
       height: 17px;
    }
}
.DescripCount{
    width: 100%;
    margin-top: 50px;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-between; 
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #E3E3E3;
}
@media screen and (max-width:768px){
    .DescripCount{
         justify-content: center;
         flex-direction: column;
         align-items: center;
  
        
    }
}
.ninetyHold{
    width: 32%;
    height: 90px;
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .ninetyHold{
        width: 100%;
        /* border-bottom: 1px solid gray; */
        height: 150px;
    }
}
.ninetyK{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.ninetyKText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #626262;
}
.FiftyHold{
    width: 32%;
    height: 90px;
    /* background-color: red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
@media screen and (max-width:768px){
    .FiftyHold{
        width: 100%;
        border: 0;
        height: 150px;
    }
}
.FiftyK{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.FiftyKText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #626262;
}
.HundredHold{
    width: 32%;
    height: 90px;
    /* background-color: red;   */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:768px){
    .HundredHold{
        width: 100%;
        /* border-top: 1px solid gray; */
        height: 150px;
    }
}
.Line{
   display: none;
   
}
@media screen and (max-width:768px){
    .Linee{
        width: 200px;
        border: 1px solid rgb(228, 223, 223);
       display: block;
       margin-top: 35px;
    }

}
.HundredK{
    /* font-family: poppins; */
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}
.HundredKText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    color: #626262;
}