.HeaderCon{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
  
}
.HeaderWrap{
    height: 100%;
    width: 80%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.HeaderLogo{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderNav{
    display: flex;
    width: 350px;
    font-weight: 500;
    justify-content: space-between;
    font-size: 20px;
    cursor: pointer;
   /* color: #2752E7; */
}
@media screen and (max-width:968px){
    .HeaderNav{
        
        flex-direction:column;
        position: absolute;
        height: 80vh;
        width: 50%;
        top: 95px;
        justify-content:space-evenly;
        backdrop-filter: blur(10px);
        background:rgba(65, 89, 210, 0.4); 
        color: white;
        border-radius: 0px 10px 10px 0px;
        transition: all 900ms;
        display: none;
        align-items: center;
    }
}

.HeaderSigning{
    display: flex;
    width: 260px;
    justify-content: space-between;
    align-items: center;
  
}
@media screen and (max-width:968px){
    .HeaderSigning{
        display: none;
    }
}

.Sign{
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    font-family: poppins;
   
}
.Sign1{
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    font-family: poppins;
    text-decoration: none;
    color: #2752E7;

}
.HeaderGet{
    width: 170px;
    height: 50px;
    border: 2px solid #2752E7;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    color: #2752E7;
    /* transform: scale(0.86); */
    transition: all 450ms;
    font-family: poppins;
}
.HeaderGet:hover{
   background-color: #2752E7;
   color: white;
}
.ToggleHold{
    display: none;
}
@media screen and (max-width:968px){
    .ToggleHold{
        display: flex;
    }
}

.SignNav{
    display: none;
}
    @media screen and (max-width:968px){
        .SignNav{
            display: flex;
            font-size: 20px;
            font-weight: 500;
        }
    }
.ButNav{
    display: none;
}

.DropMenu{
    display: none;
}

@media screen and (max-width: 968px){
    .DropMenu{
        display: block;
        position: absolute;
        top: 80px;
        width: 0;
        background-color: grey;
        height: 100%;
        overflow: hidden;

    }

    .DropMenu.Show{
        position: absolute;
        width: 100%;
        left: 0;
        transition: all 850ms;
   display: flex;
   justify-content: center;
      
    }

    .NavHold{
        display: flex;
        align-items: center;  
        justify-content: space-evenly;
        flex-direction: column;
        height: 80%;
    }

    .NavHold > div{
        font-weight: 500;
        font-size: 20px;
        cursor: pointer;
        transform: scale(1);
        transition: all 450ms;
    }
    .NavHold > div:hover{
        transform: scale(1.1);
        transition: all 450ms;
    }

}



    @media screen and (max-width:1024px){
        .ButNav{
            width: 170px;
            height: 50px;
            border: 2px solid #2752E7;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-weight: 500;
            cursor: pointer;
            border-radius: 5px;
            color: #2752E7;
            /* transform: scale(0.86); */
            transition: all 450ms;

            
        }
    }
    @media screen and (max-width:1024px){
        .ButNav:hover{
            background-color: #2752E7;
            color: white;
         }
    }

   