.GetCon{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding-bottom: 20px; */
    padding-top: 50px;
    /* background-color: red; */
}
.GetBoldTxt{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    text-align: center;
    color: #2C3131;
    width: 30%;
    margin-bottom: 10px;
}
@media screen and (max-width:1024px){
    .GetBoldTxt{
        width: 50%;
    }
}
@media screen and (max-width:768px){
    .GetBoldTxt{
        width: 60%;
    }
}
@media screen and (max-width:430px){
    .GetBoldTxt{
        width: 80%;
        font-size: 30px;
    }
}
@media screen and (max-width:380px){
    .GetBoldTxt{
        /* width: 80%; */
        font-size: 20px;
    }
}
@media screen and (max-width:330px){
    .GetBoldTxt{
        /* width: 80%; */
        font-size: 20px;
    }
}
.GettHold{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 380px;
    background: #F8F8FC;
    margin-top: 50px;
    padding-bottom: 50px;
}
@media screen and (max-width:1024px){
    .GettHold{
        background-color: white;
        height: auto;
    }
}
.GetMinText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 145%;
    text-align: center;
    color: #626262;
margin-bottom: 80px;

}
@media screen and (max-width:1024px){
    .GetMinText{
        margin-bottom: 20px;
    }
}
@media screen and (max-width:430px){
    .GetMinText{
       text-align: center;
       width: 80%;
    }
}
.GetWrap{
width: 80%;
/* background-color: #f3eef2; */
height: 350px;
flex-wrap: wrap;
justify-content: space-between;
display: flex;
}
@media screen and (max-width:1024px){
    .GetWrap{
        background-color: white;
        justify-content: center;
        height: auto;
     
    }
}


.GettCard{
width: 350px;
/* background-color: pink; */
display: flex;
justify-content: center;
align-items: center;
padding: 10px 15px;
padding: 40px 20px 40px 20px;
flex-direction: column;
margin-top: -90px;
margin-bottom: 20px;
background-color: #FFFFFF;
border: 1px solid #E3E3E3;
border-radius: 20px;

}
@media screen and (max-width:1440px){
    .GettCard{
        width: 330px;
    }
}
@media screen and (max-width:1024px){
    .GettCard{
      width: 80%;
      margin-top: 0;
     
    }
}
.GettPic{
height: 150px;
width: 240px;
/* background-color: red; */
margin-bottom: 30px;
}
@media screen and (max-width:380px){
    .GettPic{
        width: 210px;
        
    }
}
.GettPic>img{
object-fit: contain;
height: 100%;
width: 100%;
}

.GetSign{
font-size: 20px;
font-weight: 800;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 20px;
}
.GettBuy{
text-align: center;
font-size: 17px;
}